@import url('https://fonts.googleapis.com/css2?family=Bungee');
@import url('https://fonts.googleapis.com/css2?family=Alice&display=swap');

body {
    background-image: url('../assets/background.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Alice', serif;
}

h1 {
    font-family: 'Bungee', cursive;

}

.header a{
    color: rgb(245, 245, 241);
}

input {
    border: none;
    border-radius: 3px;
}

button {
    border: none;
    border-radius: 3px;
    background-color: rgb(208, 218, 236);
}

.card {
    color: white;
    width: 50%;
    background-color: rgba(26, 25, 25, 0.5);
}